<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biography</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/bio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="Content">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">ფიროსმანი</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">მთვარი</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ბიოგრაფია</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">გალერეა</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="legacy.html">მემკვიდრეობა</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="largediv">
        <div class="photos">
            <div></div>
            <div></div>
        </div>
        <div class="largetxt">
            <div class="birth">
                <h1>დაბადება და ბავშვობა</h1>
                <p>ნიკო ფიროსმანი დაიბადა 1862 წელს კახეთში, სოფელ მირზაანში, გლეხის ოჯახში. ის იყო ოჯახის მეოთხე შვილი. მშობლები ნიკოლოზი და თეოდოსია ფიროსმანაშვილები სოფლის შრომით იყვნენ დაკავებულები და აწარმოებდნენ მცირე მეურნეობას.
                    ფიროსმანი ძალიან პატარა იყო, როცა მშობლები გარდაიცვალნენ. მშობლების გარდაცვალების შემდეგ, ნიკო უფროსმა დებმა გაზარდეს. სიღარიბისა და მძიმე პირობების გამო, ნიკოს არ მიეცა შესაძლებლობა, მიეღო სრულფასოვანი განათლება. იგი მხოლოდ წერა-კითხვას დაეუფლა მეზობლების დახმარებით.</p>
            </div>
            <div class="youth">
                <h1>ახალგაზრდობა და ცხოვრება თბილისში</h1>
                <p>ფიროსმანი 1870-იან წლებში საცხოვრებლად თბილისში გადავიდა. ის მუშაობდა სხვადასხვა ხელობაზე, მათ შორის, მსახურობდა მდიდარ ოჯახებში. ერთ-ერთი ოჯახის დახმარებით, მან ისწავლა წერა-კითხვა და დაეუფლა რუსულ ენას.

                    ფიროსმანი ძირითადად ფიზიკურ შრომას ეწეოდა, თუმცა ხელოვნებისადმი ინტერესი ბავშვობიდან ჰქონდა. მისი პირველი მხატვრული ნამუშევრები უბრალო სკეტჩები იყო, რომლებიც მოგვიანებით განვითარდა და უნიკალურ ხელოვნებად იქცა.</p>
            </div>
            <div class="art">
                <h1>მხატვრობის დასაწყისი</h1>
                <p>ფიროსმანი არ მიეკუთვნებოდა აკადემიური მხატვრობის ტრადიციებს. მისი კარიერა დაიწყო როგორც კომერციული მხატვარი, რომელიც ხატავდა მაღაზიებისთვისა და სასტუმროებისთვის სარეკლამო ნიშნებს. იმ დროისთვის თბილისში პოპულარული იყო მსგავსი ტიპის "სარეკლამო ხელოვნება", თუმცა ფიროსმანის ნამუშევრები გამოირჩეოდა ფორმების სიმარტივით და ფერთა ჰარმონიით.

                    მისი ნახატები ხშირად იყო შესრულებული ზეთის საღებავებით შავ ტილოზე ან უბრალო ლითონის ფირფიტებზე. ფიროსმანი ხატავდა ყველაფერს, რასაც დამკვეთები სთხოვდნენ: პორტრეტებს, ცხოველებს, სარეკლამო სურათებს, სცენებს ყოველდღიური ცხოვრებიდან.</p>
            </div>
            <div class="alone">
                <h1>სიღარიბე და მარტოობა</h1>
                <p>ფიროსმანის ცხოვრება სიღარიბეში მიმდინარეობდა. ის არ იყო აღიარებული თანამედროვეების მიერ და მისი ნამუშევრები მხოლოდ ყოველდღიური საჭიროებების დასაკმაყოფილებლად იყიდებოდა. ფიროსმანი ხშირად იხდიდა სასტუმროსა და საკვებს ნახატებით, რადგან თანხა არ გააჩნდა.

                    მისი მარტოსულობა და სიღარიბე ხშირად აისახებოდა მის ნამუშევრებში. მისი ცხოვრების ყველაზე ტრაგიკული ნაწილი ის არის, რომ სიცოცხლეში არავის შეუფასებია მისი ნიჭი და ხელოვნება.</p>
            </div>
            <div class="death">
                <h1>გარდაცვალება</h1>
                <p>ფიროსმანი 1918 წელს გარდაიცვალა უკიდურეს სიღარიბეში. მისი სიკვდილის დეტალები ბუნდოვანია, თუმცა ცნობილია, რომ იგი გარდაიცვალა თბილისში, პატარა სარდაფის ოთახში, სადაც ცხოვრობდა.</p>
            </div>
        </div>
        </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>